.friendPageCardImageDiv img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid thick;
    border-color: var(--buttonback)
}

.friendPageCardDetailsDiv {

}

.friendPageCardDetailsDiv p {
    text-align: center;
}

.friendPageCard {
    padding: 10px;
    background: var(--middark);
    border-radius: 2rem;
    margin: 0.5rem;
}

#friendPageDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}