.friendCard {
    border: 1px solid var(--white);
    padding: 3px;
    display: flex;
    gap: 15px;
}

.friendCard img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid thick;
    border-color: var(--buttonback)
}

.friendCardDetailsDiv {


}

#friendListDiv {
    height: 100%;
    width: 100%;

}

#friendListDiv span {

}