.postContainer {
    /*border: black solid thin;*/
    padding: 1%;
    max-width: 100%;
}

.postHeaderDiv {
    /*border: blue solid thin;*/
    display: flex;
    justify-content: space-between;
    background: var(--postMidbg);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.postContentDiv {
    /*border: blue solid thin;*/

}

.postContentDiv p {
    min-height: 20px;
    min-width: 70%;
    padding: 10px;
    /*border-radius: 25px;*/

    background: var(--postMidbg);
    margin-top: 10px;
    font-size: large;
}

.postProfileDiv span {
    position: relative;
    top: -16px;
    margin-left: 10px;
    font-size: large;
}

.postProfileDiv img {
    width: 50px;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: 2px;
}

.postFooterDiv {
    /*border: blue solid thin;*/
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background: var(--postMidbg);
    border-bottom-right-radius: 25px;

    border-bottom-left-radius: 25px;
    margin-top: 10px;
}


.postCommentInputDiv form {
    display: flex;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(50%, 50%);*/
}

#postCommentInput {
    margin: 0;
}

.postCommentInputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postCommentInputDiv input[type="text"] {
    width: 70%;
    margin-top: 50px;
}

.postLikeDiv {
    display: flex;
    vertical-align: center;
    padding: 10px 0 10px 0;
}

.postCommentDiv {
    background: var(--postMidbg);
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 25px;
}

.postCommentDiv p {
    margin-left: 20px;
}

.postCommentInputDiv button{
    /*vertical-align: center;
    display: flex;*/
    display: flex;
    justify-content: center;
    align-items:center;
}
.postTimeStampDiv {
    margin-right: 15px;
    margin-top: 5px;
}