@import url("https://fonts.googleapis.com/css2?family=Roboto&display=sway");

:root {
    --background: #d3d6df;
    --buttonback: #9ea7bd;
    --white: #FFFFFF;
    --darkbg: #363638;
    --black: #000000;
    --middark: #6c6c7e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}

#container {
    min-height: 100vh;
}

#out {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;

    /*font styling*/
    margin: auto;
    border: 3px solid var(--fontColor);
    display: flex;
}

.btn {
    top: 20px;
    left: 250px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 2rem;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:hover {
    transition: 0.25s;
    color: var(--fontColor);
    background-color: var(--middark);
    cursor: pointer;
}

li {
    list-style: none;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--background);
    --fontColor: var(--black);
    --btnBg: var(--buttonback);
    --btnFontColor: var(--black);
    --postMidbg: var(--middark);
}

.dark-theme {
    --bg: var(--darkbg);
    --fontColor: var(--background);
    --btnBg: var(--black);
    --btnFontColor: var(--buttonback);
    --postMidbg: var(--middark);
}

#right {
    float: right;
    width: 15%;
    border: 3px solid var(--fontColor);
}

#left {
    float: left;
    width: 15%;
    border: 3px solid var(--fontColor);

}

#mid {
    width: 85%;
    border: 3px solid var(--fontColor);
    height: 92vh;
}

#top {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    margin: auto;
    border: 3px solid var(--fontColor);
    display: flex;
    position: relative;
    height: 8vh;
}

#tleft {
    float: left;
    width: 15%;
    border: 3px solid var(--fontColor);
}

#tleft h1 {
    horiz-align: center;
    vertical-align: center;
}

#tmid {
    width: 85%;
    border: 3px solid var(--fontColor);
}

#tright {
    float: right;
    width: 15%;
    border: 3px solid var(--fontColor);
    position: relative;
}

