@import url("https://fonts.googleapis.com/css2?family=Roboto&display=sway");

:root {
    --almostblack: #242426;
    --background: #d3d6df;
    --buttonback: rgba(252, 187, 186, 0.77);
    --white: #FFFFFF;
    --darkbg: #363638;
    --black: #000000;
    --middark: #4d4e54;
    --midlight: #888991;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}

#container {
    min-height: 100vh;
}

#out {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;

    /*font styling*/
    margin: auto;
    /*border: 3px solid var(--fontColor);*/
    display: flex;
}

.btn {
    top: 20px;
    left: 250px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 2rem;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:hover {
    transition: 0.25s;
    color: var(--fontColor);
    background-color: var(--middark);
    cursor: pointer;
}

li {
    list-style: none;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--background);
    --fontColor: var(--black);
    --btnBg: var(--buttonback);
    --btnFontColor: var(--black);
    --postMidbg: var(--midlight);
    --sidebar: var(--middark);
    --title: var(--buttonback);
    --header: var(--midlight);

}

.dark-theme {
    --bg: var(--darkbg);
    --fontColor: var(--background);
    --btnBg: var(--black);
    --btnFontColor: var(--buttonback);
    --postMidbg: var(--middark);
    --sidebar: var(--middark);
    --title: var(--buttonback);
    --header: var(--almostblack)
}

#right {
    background: var(--sidebar);
    float: right;
    width: 15%;
    /*border: 3px solid var(--fontColor);*/
}

#left {
    background: var(--sidebar);
    float: left;
    width: 15%;
    /*border: 3px solid var(--fontColor);*/

}

#mid {
    width: 85%;
    /*border: 3px solid var(--fontColor);*/
    height: 92vh;
}

#top {
    background: var(--header);
    color: var(--fontColor);
    font-family: helvetica;
    margin: auto;
    /*border: 3px solid var(--fontColor);*/
    display: flex;
    position: relative;
    height: 8vh;
}

#tleft {
    display: flex;
    align-items: center;
    float: left;
    width: 15%;
    color: var(--title)
    /*border: 3px solid var(--fontColor);*/
}

#tleft h1 {

}

#tmid {
    width: 85%;
    /*border: 3px solid var(--fontColor);*/
}

#tright {
    float: right;
    width: 15%;
    /*border: 3px solid var(--fontColor);*/
    position: relative;
}

